
/*** Content CSS*****/

body {
    font-size: 16px;
}

.navbar-container {
  position: fixed;
  z-index: 99999;
}
.header_content_wrapper{
    padding-bottom: 50px;
}
.navbar-nav .nav-item a {
    color: #ffffff !important;
}

.header-content, .header-content img {
  width: 100%;
  margin-top: 30px;
}

.container-fluid.hero-container {
    padding-top: 50px;
}

.post-container {
    padding: 40px 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.post-item {
    border: 1px solid #ddd;
}

.post-item img {
    width: 100%;
}

.post-content {
    padding: 15px 40px;
}
i.fab.fa-youtube{
color:#ff0000;

}
i.fab.fa-instagram-square{
    color: #fb3958;
}
i.fab.fa-twitter{
color: #1DA1F2;

}
i.fab.fa-facebook-square{
    color:#3b5998;
}
.post-content a {
    text-decoration: none;
    margin-top: 10px;
}
.top-app h1{
    text-align: center;
    padding-bottom: 20px;

}
.post-content .btn {
    color: #fff;
    font-size: 14px;
}
.btn-two{
    margin-right: 10px!important;
}
.navbar-container, .footer {
    background: #A9A9A9;
}

.post-content a {
    font-size: 16px;
    color: #000;
    font-weight: 400;
}


.post-item {
    transition: all 0.6s ease-out;
    cursor: pointer;
}

.post-item:hover {
    box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
}

.footer {
    padding: 20px 0px;
}

.navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color:#000!important;}
.terms-two{
    padding-top: 50px!important;
}
a:link{
    text-decoration: none!important;
}

.icon_wrapper {
    margin-top: 10px;
}

.icon_wrapper i {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.hero-container .carousel.slide {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/********media query start**********/

@media (max-width: 600px) {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        padding: 0px 20px;
    }

}

@media (min-width: 610px) and (max-width: 800px) {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        padding: 0px 20px;
    }
}

@media (min-width: 810px) and (max-width: 980px) {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
        padding: 0px 20px;
    }
}

@media(min-width: 982px) {
    .navbar-container {
        padding: 0 80px !important;
    }
}
